{% extends '_base.html' %}
{% block content %}
<div class="container">
    <table class="table table-striped" >
        <thead style="background-color: blue;color: white;">
        <td>ID</td>
        <td>REGISTRATION</td>
        <td>SOURCE</td>
        <td>DESTINATION</td>
        <td>NUM OF SEATS</td>
        <td>PRICE</td>
        <td>DATE</td>
        <td>ACTION</td>

        </thead>

        {% for row in bus_list %}
        <tr>
            <td>{{row.id }}</td>
            <td>{{row.bus.bus_registration}}</td>
            <td>{{row.route.departure_location}}</td>
            <td>{{row.route.destination_location}}</td>
            <td>{{row.bus.capacity}}</td>
            <td>{{row.price}}</td>
            <td>{{row.departure_time}}</td>
            <td><a href="{% url 'seats' row.id %}" style ="color:white;">Book Seat</a></td>

        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
